
    *{
        margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;
    } 
    a{text-decoration: none;}
    a:hover{text-decoration: none;}
    li{list-style: none;}
    
    p{
        font-size: 0.9rem;
        line-height: 1.6;
        font-weight: 400;
        color: #606060
    }
    .extradiv h2, .servicediv h2{
        font-size: 0.9rem;
        line-height: 1.1;
        font-weight: bold;
        margin: 20px 0 15px 0;
        word-spacing: 4px;
    
    }
    i{
        color: #2fccd0;
    }
     .header{
        width: 100%;
        height: 100vh;
         background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url('tec.jpg'); 
         /* background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)) ,url('tec.jpg');  */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
        position: relative;
    } 
     .header:before{
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0;
        right: 0;
        opacity: .3;
        z-index: -1;
        /* background: linear-gradient(to right,#10b99d 0%,#13b8a4 0%,#16c9f6 100%); */
    } 
    .navbar{
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0;
        right: 0;
        /* opacity: .3;
        z-index: -1;
        background: linear-gradient(to right,#10b99d 0%,#13b8a4 0%,#16c9f6 100%); */
    
    }
    .nav-item a{
        color:#000!important;
        font-weight: bold;
        
    }
    .header-section{
        width: 100%;
        height: inherit;
        color: white;
        text-align: center;
        position: relative;
    }
    .centre-div{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%) ;
       -webkit-transform: translate(-50%, -50%) ;
        -ms-transform: translate(-50% ,-50%) ;
    }
    .header-buttons a{
        border: 1px solid #ffff;
        border-radius: 100px;
        margin: 0 5px;
        padding: 15px 35px;
        outline: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    }
    .header-buttons a:hover{
        color: #50d1c0;
        background: #fff;
        text-decoration: none;
        box-shadow: 0 0 20px 0 rgba(0, 0, o, 0.3);
    }
    .centre-div p{
        padding: 15px 30px;
        font-size: large;
        font-weight: bold;
        color: #fff;
    }
    /* ----------extra header div css start--- */
    
    .header-extradiv{
        width: 100%; height: auto;
        margin: 100px 0;
    
    }
    .extradiv{
        background: #fff;
        border: none;
        padding: 50px!important;
        border-radius: 3px;
        transition: 0.3s;
        text-align: center;
    }
    .extradiv:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
    }
    
    
    
    /* ----------extra header div css end--- */
    
    /* -------service office ----starts--- */
    .serviceoffers{
        background: #f7f7f7;
        padding: 50px;
        margin-bottom: 50px;
    }
    .headings{
        margin-bottom: 50px;
    }
    .heading h1{
        font-size: 1.5rem;
        font-weight: 600;
        
    }
    
    .names h1{
        color: #2e2e2e;
        font-size: 0.9rem;
        text-transform: capitalize;
        font-weight: bold;
    }
    .service-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progress{
        height: 0.6rem!important;
        margin-bottom: 25px;
    }
    
    
    
    /* -------PRICING STARTS------- */
    .pricing{
        width: 100%;
        height: 100vh;
        padding: 50px;
        position: relative;
    }
    
     .pricing:before{
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0;
        right: 0;
        
        z-index: -1;
        background: linear-gradient(330deg, #16c9f6 55%,#fff 0%);
    
    }
    /* .pricing{
        background: #10b99d;
    } */
    .card{
        font-weight: bold;
        transition: 0.4s;
        
    }
    .card-header{
        font-size: 1.6rem;
        font-weight: bold;
        background: #606060!important;
        padding: 25px 9!important;
    }
    .card-body li{
        text-align: left;
        margin: 10px;
        font-weight: bold;
    line-height: 1.0rem;
    
    }
    .card-footer{
        padding: 30px 0px!important;
    }
    .card-footer a{
        border: 1px solid #10b99d;
        border-radius: 100px;
        margin: 0 5px;
        padding: 15px 35px;
        outline: none;
        color:#10b99d;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    }
    .card:hover .card-footer a{
        color: #fff;
        background: #50d1c0;
        text-decoration: none;
        box-shadow: 0 0 20px 0 rgba(0, 0, o, 0.3);
    }
    .card:hover{
        transform: translateY(-20px);
        box-shadow: 0 0 20px 0 rgba(0, 0, o, 0.3) ;
    }
    .card:hover.card-header{
        color: #50d1c0;
    }
    /* .card-second{
        transform: translateY(-20px);
        box-shadow: 0 0 20px 0 rgba(0, 0, o, 0.3) ;
    } */
    /* -------pricing ends------- */
    
    /* ------feedback starts------- */
    
    .happyclients{
       width: 100%;
       height: 100vh;
       padding: 80px 0; 
    }
    .box{
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        transform: 0.3s ease;
        
    }
    .box:hover{
        background: #16c9f6;
    }
    .box:hover p{
        color: white;
    } 
    .carousel-indicators{
        position: absolute;
        right: 0;
        bottom: -60px!important;
    }
    .carousel-indicators li{
        background-color: #16c9f6!important;
    }
    .box a img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 20px;
    }
    .box h1{
        font-size: 13px;
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
    }
    .box h2{
        font-size: 13px;
        font-weight: bold;
        color: #666666;
    }
    /* ------feedback ends------- */
    
    /* ------contact us start------- */
    
    .contactus{
        width: 100%;
        height: 100vh;
        padding: 80px;
        position: relative;
    }
    .contactus:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
    }
    ::placeholder{
        font-size: 0.85rem;
    }
    /* ------contact us ends------- */
    
    /* ------footer starts------- */
    .footersection{
        width: 100%;
        height: auto;
        padding: 70px 0 20px 0;
        background: #00abff;
        position: absolute;
    }
    .footersection p{
        color: #fff;
    }
    .footersection h3{
        font-weight: bold;
        text-shadow: 0 2px 5px rgba(248, 245, 245, 0.4);
        margin-bottom: 25px;
        
    }
    .footersection li a{
        line-height:1.6;
        font-size: 00.9rem;
        color: #fff;
        font-weight: 400;
        
    }
    
    #myBtn{
        /* display: none; */
        position: fixed;
        bottom: 20px;
        right: 40px;
        z-index: 99;
        border: none;
        color: #fff;
        background: #00abff;
        padding: 10px;
        border-radius: 10px;
    }
    
    /* ------footer ends------- */
    
    /* *********media queries****** */
    
    @media(max-width: 768px){
        .nav-item{
            text-align: center!important;
        }
    } 
    
    .pricing,.happyclients{
        height: auto;
        margin-top: 50px;
    }
    .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    }
    .footerdiv:nth-child(2){
        text-align: left!important;
    }
    
    .icondiv{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icondiv a{
        height: 50px;
        width:50px;
        background-color: #f5f6fa;
        border-radius: 30px;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 10px;
        line-height: 70px;
         box-shadow: 1px 4px 2px 2px #dcdde1;
    }
    .icondiv a i{
        transition: all 0.3 linear;
    }
    .icondiv a:hover i{
        transform: scale(1.4);
    }
    .fa-instagram{
        color:#e84393
    }
    .fa-facebook{
        color: rgb(14, 11, 173)
    }
    
    
    
    .bg-black{
        background-color: #000;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .font-div{
        width: 30%;
    }
    
    @media only screen and (min-width: 1203px) {
        .font-div{
            padding: 42px 0px!important
        }
    }
    .btnd{
        color: #000;
    }
